<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PlotsGO - HELP</title>
</head>
<body>
    <header class="main-header">
        <nav class="nav main-nav">
            <ul>
                <li><a href="index.html">HOME</a></li>
                <li><a href="about.html">ABOUT</a></li>
                <li><a href="help.html">HELP</a></li>
            </ul>
        </nav>
        <h1 class="title">Help</h1>
		<h2>No worries, help is granted!</h2>
    </header>

    <section class="content-section container">
        <h2 class="section-header">HELP</h2>
        <ol>
            <li>Report hackers in the discord server.</li>
            <li>If someone is spawnkilling you, kindly ask them to stop.</li>
            <li>Don't hack.</li>
            <li>Read the tutorial, your chances are low without it.</li>
        </ol>
    </section>
</body>
</html>