<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PlotsGO</title>
</head>
<body>
    <header class="main-header">
        <nav class="nav main-nav">
            <ul>
                <li><a href="index.html">HOME</a></li>
                <li><a href="about.html">ABOUT</a></li>
                <li><a href="help.html">HELP</a></li>
            </ul>
        </nav>
        <h1 class="title title-large">PlotsGO</h1>
    </header>

    <section class="content-section container">
        <h2 class="section-header">WHAT YOU CAN DO</h2>
        <ol>
            <li>Team with others.</li>
            <li>Build.</li>
            <li>Grind.</li>
            <li>Grief.</li>
        </ol>
    </section>

    <section class="content-section container">
        <h2 class="section-header">A LITTLE ABOUT THE SERVER</h2>
        <p>The server was inspired by other servers
            like PeaceNLove or ChaosFR.
            All of these servers are plot servers.
            They all had good building, players and plots.
        </p>
    </section>
</body>
</html>